article > section {
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(35, 35, 35, 0.33); }
  article > section:nth-child(1), article > section:nth-child(5), article > section:nth-child(9) {
    background-color: #00A0B0; }
  article > section:nth-child(2), article > section:nth-child(6), article > section:nth-child(10) {
    background-color: #CC333F; }
  article > section:nth-child(3), article > section:nth-child(7), article > section:nth-child(11) {
    background-color: #EB6841; }
  article > section:nth-child(4), article > section:nth-child(8), article > section:nth-child(12) {
    background-color: #EDC951; }
  article > section:before {
    content: '';
    width: 0.5rem;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4); }
  article > section:after {
    content: '';
    width: 0.5rem;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4); }

article {
  -ms-flex-direction: row;
      flex-direction: row;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -0.5rem;
  margin-left: -0.5rem; }
  article > section {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    padding: 0 0.5rem; }
    article > section > * {
      -ms-flex-positive: 1;
          flex-grow: 1; }
