
$gutter: 1rem;
$breakpoints: 	(
					'tiny':		25rem,
					'small':	37.5rem,
					'medium':	60rem,
					'large':	90rem
				) !default;

// Example colors - Only used to highlight columns, do not use in production
// ==========================================================================
$black:								#232323;
$white:								#fff;
$gray:								Gainsboro;
$example-color-1:					#00A0B0;
$example-color-2:					#CC333F;
$example-color-3:					#EB6841;
$example-color-4:					#EDC951;
$example-color-5:					#6A4A3C;


// Silent classes

%cell {
	position: relative;
	text-align: center;

	font-weight: 500;;
	font-size: 2rem;

	color: $white;
	text-shadow: 1px 1px 0 rgba($black, 0.33);

	&:nth-child(1),
	&:nth-child(5),
	&:nth-child(9) {
		background-color: $example-color-1;
	}

	&:nth-child(2),
	&:nth-child(6),
	&:nth-child(10) {
		background-color: $example-color-2;
	}

	&:nth-child(3),
	&:nth-child(7),
	&:nth-child(11) {
		background-color: $example-color-3;
	}

	&:nth-child(4),
	&:nth-child(8),
	&:nth-child(12) {
		background-color: $example-color-4;
	}

	// pseudo elements to illustrate gutters
	&:before {
		content: '';
		width: calc($gutter / 2);
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;

		background-color: rgba($white, 0.4);
	}

	&:after {
		content: '';
		width: calc($gutter / 2);
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;

		background-color: rgba($white, 0.4);
	}
}
