@charset 'utf-8';

$ezpz-grid-align:				true;
$ezpz-grid-wrap:				true;
$ezpz-cell-order:				true;
$ezpz-cell-offset:				true;
$ezpz-cell-align:				true;
$ezpz-gutter-collapse:			true;

@import '../../lib/ezpz-flexbox-grid';
